{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * fakhri-plugins plugin for Craft CMS 3.x
 *
 * fakhri-plugins index.twig
 *
 * @author    Fakhri Alauddin
 * @copyright Copyright (c) 2020 Fakhri Alauddin
 * @link      https://github.com/fakhri17
 * @package   Fakhriplugins
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/fakhri17/fakhri-plugins/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "fakhri-plugins" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('fakhri-plugins') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@fakhri/fakhriplugins/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('fakhri-plugins') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('fakhri-plugins') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
